Repository vyos/vyos-build, pull requests merged in 2023-09, with the labels that each got.

#393 T5524: Add config directory for livecd
  data/live-build-config/hooks/live/23-config_mkdir.chroot
Labels: equuleus

#402 ddclient: T5573: Patch ddclient to fix caching issues with new providers
  packages/ddclient/patches/z5_caching-1.patch
Labels: current

#416 T5588: Add kernel module CONFIG_NF_CONNTRACK_BRIDGE
  packages/hsflowd/Jenkinsfile
  packages/linux-kernel/arch/arm64/configs/vyos_defconfig
  packages/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current

#412 Jenkins: disable nightly builds for old LTS image
  Jenkinsfile
Labels: crux

#415 salt: T5592: upgrade package to 3005
  data/architectures/amd64.toml
  data/architectures/arm64.toml
Labels: sagitta

#419 smoketest: T5607: adjust for non-deterministic scsi device probing
  scripts/check-qemu-install
Labels: current

#424 GitHub: add branch label action
  .github/workflows/pull-request-labels.yml
Labels: sagitta

#422 Revert "openvpn: T5272: upgrade package to Debian version 2.6.3-2"
  packages/openvpn/.gitignore
  packages/openvpn/Jenkinsfile
Labels: equuleus
