Repository vyos/vyos-build, pull requests merged in 2024-06, with the labels that each got.

#648 T6415: Add repo-sync
  .github/workflows/repo-sync.yml
Labels: current

#649 build: T6446: include support URL in the version data file
  scripts/image-build/build-vyos-image
Labels: current

#651 migration: T6006: move config.boot.default to vyos-1x
  data/live-build-config/includes.chroot/opt/vyatta/etc/config.boot.default
Labels: current

#654 waagent: T6475: Added waagent build instructions
  packages/waagent/Jenkinsfile
  packages/waagent/build.py
Labels: current

#655 waagent: T6475: Fixed waagent build script permissions
  packages/waagent/build.py
Labels: current

#658 waagent: T6475: Disabled waagent build for ARM64
  packages/waagent/Jenkinsfile
Labels: current

#656 T6484: Smoketest: Increase KVM memory limit
  scripts/check-qemu-install
Labels: current

#653 docker: arm: T6474: Initial support for dynamic arch toml loading
  data/architectures/armhf.toml
  docker-vyos/Dockerfile
  docker-vyos/vyos_install_common.sh
  tools/container/config.boot.default
Labels: current

#660 Kernel: T5887: update Linux Kernel to v6.6.34
  data/defaults.toml
  packages/linux-kernel/patches/kernel/0001-linkstate-ip-device-attribute.patch
Labels: current, backport

#664 build: T6499: add a mirror of Freexian ELTS repository to the repo list
  data/defaults.json
  data/live-build-config/archives/freexian-elts.key.chroot
Labels: equuleus

#666 Kernel: T5887: update Linux Kernel to v6.6.35
  data/defaults.toml
Labels: current

#668 T6508: pr workflows updated for branch and target
  .github/workflows/add-pr-labels.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-pr-conflicts.yml
  .github/workflows/check-stale.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
  .github/workflows/label-backport.yml
  .github/workflows/linit-j2.yml
  .github/workflows/repo-sync.yml
Labels: current

#675 T6506: Add a linting rule for checking executable bits on scripts
  .github/workflows/check-scripts-executable.yml
Labels: current

#677 Docker: T6510: add missing build dependencies for vyos-configd tests
  docker/Dockerfile
Labels: current, backport

#667 T6507: remove references to vyos-world package
  data/live-build-config/package-lists/vyos-base.list.chroot
  docker-vyos/vyos_install_stage_01.sh
  docker-vyos/vyos_install_stage_02.sh
  scripts/list-build-dependencies
Labels: current, backport

#674 T6415: Actions set equuleus repo sync
  .github/workflows/repo-sync.yml
Labels: equuleus
