Repository vyos/vyos-build, pull requests merged in 2024-10, with the labels that each got.

#776 T861: Fix kernel suffix for package build by actions
  scripts/package-build/linux-kernel/build-kernel.sh
Labels: current

#779 docker: T6742: libvyosconfig update for childless node rendering
  docker/Dockerfile
Labels: current

#780 T6755: Change default vyos mirror URL
  data/defaults.toml
  scripts/package-build/linux-kernel/build-intel-qat.sh
Labels: current

#788 T6758: Add build package xen-guest-agent
  .github/workflows/trigger_rebuild_packages.yml
  scripts/package-build/xen-guest-agent/.gitignore
  scripts/package-build/xen-guest-agent/build.py
  scripts/package-build/xen-guest-agent/package.toml
Labels: current, backport

#785 T973: Add build script for node_exporter package
  .github/workflows/trigger_rebuild_packages.yml
  scripts/package-build/node_exporter/.gitignore
  scripts/package-build/node_exporter/build.py
  scripts/package-build/node_exporter/package.toml
Labels: current

#791 T6763: Delete Jenkins file
  Jenkinsfile
Labels: current, backport

#790 Kernel: T5887: update Linux Kernel to v6.6.54
  data/defaults.toml
Labels: current, backport

#795 T6754: Ignore everyhting under packages folder via .gitignore
  packages/.gitignore
Labels: current

#796 Testsuite: T6494: add new make target "test-interfaces"
  Makefile
  scripts/check-qemu-install
Labels: current

#762 T6713: Update Realtek r8152 driver
  data/architectures/amd64.toml
  scripts/package-build/linux-kernel/build-driver-realtek-r8152.py
  scripts/package-build/linux-kernel/build.py
  scripts/package-build/linux-kernel/package.toml
Labels: current

#797 T3303: fix location of os-release file
  scripts/image-build/build-vyos-image
Labels: current, backport

#800 docker: T4318: libvyosconfig update for set_tag value
  docker/Dockerfile
Labels: current

#799 T973: upgrade go version in dockerfile
  docker/Dockerfile
Labels: current

#802 T6765: Fix build python3-vici package
  scripts/package-build/strongswan/build-vici.sh
Labels: current, backport

#804 T973: add build script for frr_exporter package
  .github/workflows/trigger_rebuild_packages.yml
  scripts/package-build/frr_exporter/.gitignore
  scripts/package-build/frr_exporter/build.py
  scripts/package-build/frr_exporter/package.toml
Labels: current

#807 T861: T6713: Sign Realtek drivers
  scripts/package-build/linux-kernel/build-driver-realtek-r8152.py
Labels: current

#808 build: T6231: remove Mellanox OFED drivers and tools until their license status is confirmed
  data/architectures/amd64.toml
Labels: current

#810 actions: T6771: Build docker image without Jenkins
  .github/workflows/trigger-docker-image-build.yml
Labels: current

#811 Kernel: T861: T6713: fix generation of realtek driver signature
  data/defaults.toml
  scripts/package-build/linux-kernel/build-realtek-r8152.py
  scripts/package-build/linux-kernel/build.py
Labels: current

#813 build: T6776: use the official Zabbix repo for zabbix-agent2
  data/architectures/amd64.toml
  data/architectures/arm64.toml
  data/live-build-config/archives/zabbix-official-repo.key.chroot
Labels: current

#815 T6781: Auto-close pull requests for sagitta
  .github/workflows/pr-auto-close.yml
Labels: sagitta

#816 T6713: Build Realtek driver change source repo
  scripts/package-build/linux-kernel/build-realtek-r8152.py
Labels: current

#817 T6771: Fix trigger build container state changes
  .github/workflows/trigger-docker-image-build.yml
Labels: current

#818 Kernel: T5887: update Linux Kernel to v6.6.58
  data/defaults.toml
Labels: current

#820 T6684: new Debian package repo snapshot logic
  docker/patches/live-build/0001-save-package-info.patch
Labels: current

#821 T6813: Build tarballs for the packages
  scripts/package-build/build.py
Labels: current

#823 Kernel: T5887: Revert update Linux Kernel to v6.6.58
  data/defaults.toml
Labels: current

#822 live: T5568: Fix live grub menu entries
  data/live-build-config/hooks/live/01-live-serial.binary
Labels: current

#826 T6813: Add tarballs for the netfilter
  scripts/package-build/netfilter/.gitignore
  scripts/package-build/netfilter/build.py
Labels: current

#825 T6840: Build OpenVPN-otp use commit id instead of master
  scripts/package-build/openvpn-otp/.gitignore
  scripts/package-build/openvpn-otp/package.toml
Labels: current
