Repository vyos/vyos-build, pull requests merged in 2024-09, with the labels that each got.

#748 Kernel: T5887: update Linux Kernel to v6.6.49
  data/defaults.toml
Labels: current

#752 T6674: Add workflow to rebuild packages
  .github/workflows/trigger_rebuild_packages.yml
Labels: current

#751 T1416: T861: T3664: T3664: T2640: various cleanup commits
  Makefile
  data/architectures/amd64.toml
  data/architectures/arm64.toml
  data/live-build-config/includes.chroot/opt/vyatta/etc/grub/default-union-grub-entry
  docker/Dockerfile
  scripts/image-build/build-vyos-image
Labels: current

#753 T6674: Add keys gpg_key_id and package_branch to rebuild packages
  .github/workflows/trigger_rebuild_packages.yml
Labels: current

#754 T6674: build-kernel: Get kernel version from the defatults
  .github/workflows/trigger_rebuild_packages.yml
  scripts/package-build/linux-kernel/arch
  scripts/package-build/linux-kernel/arch/arm64/configs/vyos_defconfig
  scripts/package-build/linux-kernel/arch/x86/configs/vyos_defconfig
  scripts/package-build/linux-kernel/build-jool.py
  scripts/package-build/linux-kernel/build.py
  scripts/package-build/linux-kernel/package.toml
  scripts/package-build/linux-kernel/patches
  scripts/package-build/linux-kernel/patches/accel-ppp/0001-L2TP-Include-Calling-Number-to-Calling-Station-ID-RA.patch
  scripts/package-build/linux-kernel/patches/ixgbe/add_1000base-bx_support.patch
  scripts/package-build/linux-kernel/patches/ixgbe/allow_unsupported_sfp.patch
  scripts/package-build/linux-kernel/patches/kernel/0001-linkstate-ip-device-attribute.patch
  scripts/package-build/linux-kernel/patches/kernel/0002-inotify-support-for-stackable-filesystems.patch
Labels: current

#755 T6703: add support for amd pstate driver
  packages/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current

#763 T861: add UEFI Secure Boot support
  .gitignore
  Makefile
  data/architectures/amd64.toml
  data/architectures/arm64.toml
  data/defaults.toml
  data/live-build-config/hooks/live/92-strip-symbols.chroot
  data/live-build-config/hooks/live/93-sign-kernel.chroot
  data/live-build-config/includes.chroot/var/lib/shim-signed/mok/README.md
  docker/Dockerfile
  packages/linux-kernel/Jenkinsfile
  packages/linux-kernel/arch/x86/configs/vyos_defconfig
  packages/linux-kernel/build-intel-ixgbe.sh
  packages/linux-kernel/build-intel-ixgbevf.sh
  packages/linux-kernel/build-intel-qat.sh
  packages/linux-kernel/build-jool.py
  packages/linux-kernel/build-kernel.sh
  packages/linux-kernel/build-mellanox-ofed.sh
  packages/linux-kernel/build-nat-rtsp.sh
  scripts/check-qemu-install
  scripts/image-build/build-vyos-image
Labels: current

#758 T6684: new Debian package repo snapshot logic
  docker/Dockerfile
  docker/patches/live-build/0001-save-package-info.patch
Labels: current

#764 Kernel: T861: use find over ls when probing for Kernel signing public keys
  packages/linux-kernel/build-kernel.sh
Labels: current

#765 test: T4919: Fix QEMU TPM test
  docker/Dockerfile
  scripts/check-qemu-install
Labels: current

#766 build: T6653: fix a manifest generation error when using --reuse-iso
  scripts/image-build/build-vyos-image
Labels: current

#768 build: T3664: add an option to specify artifact extensions
  scripts/image-build/build-vyos-image
Labels: current

#770 T6728: trigger pr mirror workflow added for circinus
  .github/workflows/trigger-pr.yml
Labels: circinus

#769 ethtool: T6729: upgrade to 6.10 to make use of more --json options
  packages/ethtool/Jenkinsfile
  scripts/package-build/ethtool/package.toml
Labels: current, backport

#773 build: T6738: add build_type field to version data instead of the very limited and unused lts_build
  scripts/image-build/build-vyos-image
Labels: current

#774 build-image: T6742: update vyos1x-config for childless non-leaf node rendering fixes
  docker/Dockerfile
Labels: current
