Repository vyos/vyos-build, pull requests merged in 2024-05, with the labels that each got.

#584 T6293: add Mediatek MT7921 to defconfig
  packages/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current

#589 Docker: T6180: update commit refs for vyos1x-config and libvyosconfig
  docker/Dockerfile
Labels: sagitta

#590 build: T3664: fix regression and bug in build script clone of vyos-1x repo
  scripts/image-build/build-vyos-image
Labels: current

#591 frr: T6283: T6250: add pending upstream patches
  docker/Dockerfile
  packages/frr/Jenkinsfile
  packages/frr/build-frr.sh
  packages/frr/patches/0001-bgpd-fix-no-set-as-path-prepend-ASNUM.patch
  packages/frr/patches/0002-bgpd-allow-using-optional-table-id-for-negative.patch
Labels: current

#594 T6307: Add dependency procps to build vyos-1x
  docker/Dockerfile
Labels: current

#593 build: backport of new flavor build system
  Makefile
  build-vyos-image
  data/build-flavors/dell-vep1400.toml
  data/build-flavors/dell-vep4600.toml
  docker/Dockerfile
  packages/linux-kernel/build-linux-firmware.sh
  scripts/build-vyos-image
  scripts/check-build-env
  scripts/image-build/build-vyos-image
  scripts/image-build/defaults.py
  scripts/image-build/raw_image.py
  scripts/image-build/utils.py
  scripts/import-local-packages
  scripts/list-package-arch
  scripts/list-required-firmware
  scripts/pbuilder-config
  scripts/pbuilder-setup
  scripts/pbuilder/hooks/C10shell
  tools/dell/90-vep.chroot
  tools/dell/vep-hook
  tools/dell/vep1400/10-eth0-000.link
  tools/dell/vep1400/10-eth1-000.link
  tools/dell/vep1400/10-eth2-000.link
  tools/dell/vep1400/10-eth3-000.link
  tools/dell/vep1400/10-eth4-000.link
  tools/dell/vep1400/10-eth5-000.link
  tools/dell/vep1400/10-eth6-000.link
  tools/dell/vep1400/10-eth7-000.link
  tools/dell/vep4600/10-eth0-000.link
  tools/dell/vep4600/10-eth0-001.link
  tools/dell/vep4600/10-eth1-000.link
  tools/dell/vep4600/10-eth1-001.link
  tools/dell/vep4600/10-eth10-000.link
  tools/dell/vep4600/10-eth11-000.link
  tools/dell/vep4600/10-eth12-000.link
  tools/dell/vep4600/10-eth13-000.link
  tools/dell/vep4600/10-eth14-000.link
  tools/dell/vep4600/10-eth2-000.link
  tools/dell/vep4600/10-eth2-001.link
  tools/dell/vep4600/10-eth3-000.link
  tools/dell/vep4600/10-eth4-000.link
  tools/dell/vep4600/10-eth5-000.link
  tools/dell/vep4600/10-eth6-000.link
  tools/dell/vep4600/10-eth7-000.link
  tools/dell/vep4600/10-eth8-000.link
  tools/dell/vep4600/10-eth9-000.link
  tools/dell/vep4600/10-unused0-000.link
  tools/dell/vep4600/10-unused0-001.link
  tools/dell/vep4600/10-unused1-000.link
  tools/dell/vep4600/10-unused1-001.link
  tools/dell/vep4600/99-default.link
  tools/get_latest_iso.py
  tools/gpl-header-template
  tools/submod-mk
  tools/switch-remote
Labels: sagitta

#596 build: T3664: modify the module-level template path instead of setting an environment variable
  Makefile
  scripts/image-build/raw_image.py
Labels: current

#598 T6311: Docker add dependency asciidoc-base for nftables
  docker/Dockerfile
Labels: current

#602 apt: T3664: prefer packages from sagitta version
  data/live-build-config/archives/vyos-dev.pref.chroot
Labels: sagitta

#603 build-script: T3664: Added more options to the image format
  scripts/image-build/build-vyos-image
Labels: current

#606 build: T3664: use explicit defaults argument in the dict merging function
  scripts/image-build/build-vyos-image
Labels: current

#605 build: T3664: include build flavor name in the version file
  scripts/image-build/build-vyos-image
Labels: current

#609 build: T3664: include the architecture field in version data
  scripts/image-build/build-vyos-image
Labels: current

#612 build: T6330: fix indention of autogenerated release.pref.chroot
  scripts/image-build/build-vyos-image
Labels: current

#618 T3420: Remove service upnp
  data/live-build-config/hooks/live/18-enable-disable_services.chroot
Labels: current

#582 suricata: T751: Disable suricata.service by default
  data/live-build-config/hooks/live/18-enable-disable_services.chroot
Labels: current

#620 build-script: T3664: Add flavor and architecture to image name (rework)
  scripts/image-build/build-vyos-image
  scripts/image-build/raw_image.py
Labels: current

#614 T6333 non-free-firmware to trixie
  data/live-build-config/archives/trixie.list.chroot
Labels: current

#624 hooks: T6346: set default boot target to multi-user.target
  data/live-build-config/hooks/live/20-systemd_target.chroot
Labels: current

#626 T6356: normalize '.., ntp, server' path syntax in config.boot.default
  data/live-build-config/includes.chroot/opt/vyatta/etc/config.boot.default
Labels: current

#622 build-script: T3664: Allowed all options in both config file and comm…
  scripts/image-build/build-vyos-image
  scripts/image-build/defaults.py
Labels: current

#629 Kernel: T5887: update Linux Kernel to v6.6.31
  data/defaults.toml
  packages/linux-kernel/patches/kernel/0001-linkstate-ip-device-attribute.patch
Labels: current

#631 frr: T6250: T6283: revert local patches merged upstream
  packages/frr/patches/0001-bgpd-fix-no-set-as-path-prepend-ASNUM.patch
  packages/frr/patches/0002-bgpd-allow-using-optional-table-id-for-negative.patch
Labels: current

#634 T6386: added caller workflows and codeowners
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/reviewers.yml
  .github/workflows/add-pr-labels.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-pr-conflicts.yml
  .github/workflows/check-stale.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
  .github/workflows/label-backport.yml
  .github/workflows/linit-j2.yml
  .github/workflows/mergifyio_backport.yml
  .github/workflows/pr-conflicts.yml
  .github/workflows/pull-request-labels.yml
  .github/workflows/pull-request-message-check.yml
  .github/workflows/stale.yml
  CODEOWNERS
  scripts/check-pr-title-and-commit-messages.py
  scripts/image-build/raw_image.py
Labels: current

#635 docker: T6388: use OCaml 4.14.2 for package builds
  docker/Dockerfile
Labels: current

#638 kernel: T6395: Enabled VFIO_NOIOMMU support
  packages/linux-kernel/arch/arm64/configs/vyos_defconfig
  packages/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current

#640 T6399: codeowners correction
  CODEOWNERS
Labels: current

#636 T6386: added reusable workflows and codeowners (equuleus)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/reviewers.yml
  .github/workflows/add-pr-labels.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-pr-conflicts.yml
  .github/workflows/check-stale.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
  .github/workflows/label-backport.yml
  .github/workflows/linit-j2.yml
  .github/workflows/pr-conflicts.yml
  CODEOWNERS
  scripts/vhd.py
Labels: equuleus

#637 T6386: added reusable workflows and codeowners (sagitta)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/reviewers.yml
  .github/workflows/add-pr-labels.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/chceck-pr-message.yml
  .github/workflows/check-pr-conflicts.yml
  .github/workflows/check-stale.yml
  .github/workflows/check-unused-imports.yml
  .github/workflows/codeql.yml
  .github/workflows/label-backport.yml
  .github/workflows/linit-j2.yml
  .github/workflows/pr-conflicts.yml
  .github/workflows/pull-request-labels.yml
  CODEOWNERS
  scripts/check-pr-title-and-commit-messages.py
  scripts/image-build/raw_image.py
Labels: sagitta

#641 T6404: update vyos1x-config commit reference
  docker/Dockerfile
Labels: current

#643 T6406: enables container cpu limits
  packages/linux-kernel/arch/arm64/configs/vyos_defconfig
  packages/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current

#645 T6406: enables CONFIG_CFS_BANDWIDTH for cpu cgroup limits
  packages/linux-kernel/arch/arm64/configs/vyos_defconfig
  packages/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current

#646 build: T6414: rename the "iso" flavor to "generic"
  Jenkinsfile
  Makefile
  data/build-flavors/generic.toml
Labels: current

#633 packer: T6390: Compensate for packer packaging update
  docker/Dockerfile
Labels: equuleus
