Repository vyos/vyos-build, pull requests merged in 2024-08, with the labels that each got.

#723 ddclient: T5792: Use Debian build from Trixie
  packages/ddclient/Jenkinsfile
Labels: current, backport

#729 podman: T6598: add fuse-overlayfs runtime dependency
  packages/podman/build.sh
Labels: current, backport

#733 Kernel: T5887: update Linux Kernel to v6.6.45
  data/defaults.toml
  packages/linux-kernel/patches/kernel/0001-linkstate-ip-device-attribute.patch
Labels: current, backport

#737 T6654: Add release_train and vyos_branch circinus
  data/defaults.toml
Labels: circinus

#739 Kernel: T5887: update Linux Kernel to v6.6.47
  data/defaults.toml
Labels: current, backport

#738 build: T6666: singular image_format in flavor files
  data/build-flavors/dell-vep1400.toml
  data/build-flavors/dell-vep4600.toml
  data/build-flavors/xcpng.toml
Labels: current, backport

#744 T6231: update OFED version and fix build script
  packages/linux-kernel/build-mellanox-ofed.sh
Labels: current

#657 linux-kernel: T6485: build modules for thunderbolt and thunderbolt-net
  packages/linux-kernel/arch/arm64/configs/vyos_defconfig
  packages/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current

#736 build: T6653: add build/manifest.json file
  scripts/image-build/build-vyos-image
Labels: current, backport
