Repository vyos/vyos-build, pull requests merged in 2024-07, with the labels that each got.

#680 T6527: remove legacy packages
  Makefile
  data/live-build-config/package-lists/vyos-base.list.chroot
  docker-vyos/vyos_install_stage_01.sh
  docker-vyos/vyos_install_stage_02.sh
  vars/isCustomBuild.groovy
Labels: current

#681 Kernel: T5887: update Linux Kernel to v6.6.36
  data/defaults.toml
  packages/linux-kernel/patches/kernel/0001-linkstate-ip-device-attribute.patch
Labels: current, backport

#686 snmp: T6290: add custom package build
  packages/net-snmp/.gitignore
  packages/net-snmp/Jenkinsfile
  packages/net-snmp/build.sh
  packages/net-snmp/patches/add-linux-6.7-compatibility-parsing.patch
Labels: current, backport

#689 Kernel: T5887: update Linux Kernel to v6.6.37
  data/defaults.toml
  packages/linux-kernel/Jenkinsfile
Labels: current

#690 container: T5867: pin specific podman version
  data/live-build-config/archives/trixie.pref.chroot
Labels: current, backport

#694 ddclient: T5797: switch to Debian SALSA repository
  packages/ddclient/Jenkinsfile
  packages/ddclient/build.sh
Labels: current, backport

#693 Kernel: T5887: update Linux Kernel to v6.6.39
  data/defaults.toml
Labels: current

#699 T6584: Revert "T6293: add Mediatek MT7921 to defconfig"
  data/defaults.toml
  packages/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current, backport

#702 hostapd: T6597: update hostapd version
  packages/hostap/Jenkinsfile
Labels: current, backport

#704 frr: T6600: apply pending upstream patch for ospfd ldp-sync
  packages/frr/patches/0001-ospfd-fix-internal-ldp-sync-state-flags-when-feature.patch
Labels: current

#703 Kernel: T5887: update Linux Kernel to v6.6.41
  data/defaults.toml
Labels: current, backport

#709 podman: T6598: add custom podman build for version 4.9.5
  data/live-build-config/archives/trixie.list.chroot
  data/live-build-config/archives/trixie.pref.chroot
  data/live-build-config/hooks/live/18-enable-disable_services.chroot
  packages/podman/.gitignore
  packages/podman/Jenkinsfile
  packages/podman/build.sh
Labels: current

#710 Revert "frr: T6600: apply pending upstream patch for ospfd ldp-sync"
  packages/frr/patches/0001-ospfd-fix-internal-ldp-sync-state-flags-when-feature.patch
Labels: current

#711 podman: T6598: add search PATH for Go
  packages/podman/build.sh
Labels: current

#713 Kernel: T5887: update Linux Kernel to v6.6.42
  data/defaults.toml
Labels: current

#665 T6231: Mellanox OFED
  packages/linux-kernel/.gitignore
  packages/linux-kernel/Jenkinsfile
  packages/linux-kernel/build-mellanox-ofed.sh
Labels: current

#714 build: T6231: include out-of-tree Mellanox driver in image
  data/architectures/amd64.toml
Labels: current

#718 podman: T6598: add libgpgme11 runtime dependency
  packages/podman/build.sh
Labels: current, backport

#722 Kernel: T5887: update Linux Kernel to v6.6.43
  data/defaults.toml
Labels: current, backport

#724 T6386: Fix typo in file name
  .github/workflows/check-pr-message.yml
Labels: current

#717 minisign: T6610: update the rolling release signing key
  data/live-build-config/includes.chroot/usr/share/vyos/keys/vyos-rolling-release.minisign.pub
Labels: sagitta
