Repository vyos/vyos-build, pull requests merged in 2025-09, with the labels that each got.

#1024 T7772: Fix amazon-cloudwatch-agent build
  scripts/package-build/amazon-cloudwatch-agent/package.toml
Labels: current, bp/circinus

#1023 T75: ipt-netflow fix aggregation mode
  scripts/package-build/linux-kernel/patches/ipt-netflow/0004-Change-aggregation-parameter-mode-400-444.patch
Labels: current

#1026 T7297: frr: add ospf redistribute table-direct
  scripts/package-build/frr/patches/frr/0006-ospfd-support-table-direct-redistribution.patch
Labels: current

#1025 T7748: conflict check workflow updated to use marketplace action along with increased wait/retry
  .github/workflows/check-open-prs-conflict.yml
  .github/workflows/check-pr-conflicts.yml
Labels: current

#1027 T7804: Modify SquashFS compression options for ARM64 platform
  data/architectures/arm64.toml
Labels: current

#1031 T7824: Add support for disk controllers with the kernel MPI3MR option
  scripts/package-build/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current, bp/sagitta, bp/circinus

#1029 T6962: frr: fix wrong kernel routes updates
  scripts/package-build/frr/patches/frr/0007-zebra-remove-kernel-route-on-last-address-deletion.patch
Labels: current

#1035 nose: T7825: Use nose2 for unit tests
  docker/Dockerfile
Labels: current

#1033 kea: T7281: Update Kea to 3.0
  .github/workflows/trigger_rebuild_packages.yml
  data/architectures/amd64.toml
  data/architectures/arm64.toml
  data/live-build-config/archives/isc-kea.key.chroot
  data/live-build-config/hooks/live/18-enable-disable_services.chroot
  scripts/package-build/kea/.gitignore
  scripts/package-build/kea/build.py
  scripts/package-build/kea/package.toml
  scripts/package-build/kea/patches/isc-kea/0001-Add-multithreading-test-mode.patch
  scripts/package-build/kea/patches/isc-kea/0002-Add-ping_check-hook-library.patch
Labels: current, bp/circinus

#1037 T7748: Updated conflict reusable workflow reference in workflow
  .github/workflows/check-pr-conflicts.yml
Labels: current

#1039 T7836: use /opt/vyatta/etc/config in tmptest
  scripts/check-qemu-install
Labels: current

#1045 T7870: Kernel add option CONFIG_NO_HZ_FULL
  scripts/package-build/linux-kernel/arch/arm64/configs/vyos_defconfig
  scripts/package-build/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current, bp/circinus

#1046 T7873: Bump Suricata version to 7.0.10
  data/live-build-config/archives/bookworm-backports.pref.chroot
Labels: current
