Repository vyos/vyos-build, pull requests merged in 2025-04, with the labels that each got.

#924 Kernel: T6230: add ipt_NETFLOW out-of-tree module
  data/architectures/amd64.toml
  scripts/package-build/linux-kernel/.gitignore
  scripts/package-build/linux-kernel/build-ipt-netflow.sh
  scripts/package-build/linux-kernel/build.py
  scripts/package-build/linux-kernel/package.toml
Labels: current

#940 build: T7301: do not include the GPG image signing key in images
  data/live-build-config/hooks/live/82-import-vyos-gpg-signing-key.chroot
  data/live-build-config/includes.chroot/usr/share/vyos/keys/vyos-release.pub.asc
  data/live-build-config/package-lists/vyos-base.list.chroot
Labels: current, bp/sagitta, bp/circinus

#941 packages: T7344: build bash-completion from source
  .github/workflows/trigger_rebuild_packages.yml
  scripts/package-build/bash-completion/.gitignore
  scripts/package-build/bash-completion/build.py
  scripts/package-build/bash-completion/package.toml
Labels: current, bp/sagitta, bp/circinus

#942 build: T7345: do not use Debian Buster repos in image builds
  data/live-build-config/archives/buster.list.chroot
  data/live-build-config/archives/buster.pref.chroot
Labels: current, bp/sagitta, bp/circinus

#945 vyos-build: T7357: add libnss-mapuser package
  .github/workflows/trigger_rebuild_packages.yml
  scripts/package-build/libnss-mapuser/.gitignore
  scripts/package-build/libnss-mapuser/build.py
  scripts/package-build/libnss-mapuser/package.toml
Labels: current

#944 T7353: netplug.service is started by vyos-router
  data/live-build-config/hooks/live/18-enable-disable_services.chroot
Labels: current

#936 kea: T7281: Update Kea to 2.6.1-2
  scripts/package-build/kea/package.toml
  scripts/package-build/kea/patches/isc-kea/0001-Add-multithreading-test-mode.patch
  scripts/package-build/kea/patches/isc-kea/0002-Add-ping_check-hook-library.patch
Labels: current

#946 packages: T6230: include iptables modules in vyos-ipt-netflow
  scripts/package-build/linux-kernel/build-ipt-netflow.sh
Labels: current

#922 T6322: Include microcode in amd64 architecture builds
  data/architectures/amd64.toml
  data/defaults.toml
Labels: current

#950 T7334: pr mirror trigger workflow added with label creation permission for default github token
  .github/workflows/trigger-pr-mirror-repo-sync.yml
Labels: current

#949 radvd: T7376: upgrade package to v2.20
  scripts/package-build/radvd/package.toml
Labels: current, bp/sagitta, bp/circinus

#948 build: T7372: correctly quote lb_config arguments
  data/defaults.toml
  scripts/image-build/build-vyos-image
Labels: current, bp/circinus

#951 T7367: syslog.service links to rsyslog.service - thus disable it, too
  data/live-build-config/hooks/live/18-enable-disable_services.chroot
Labels: current, bp/circinus

#926 T7384: Radius patch for Dns-Server-IPv6-Address attribute - accel-ppp
  scripts/package-build/linux-kernel/patches/accel-ppp/0002-Radius-Dns-Server-IPv6-Address.patch
Labels: current

#954 T7405: add missing dependency kpartx for all archs
  docker/Dockerfile
Labels: current

#956 T7407: fix the incorrect url for arm64 salt pkgs
  data/architectures/arm64.toml
Labels: current

#953 build: T7399: remove the APT option to allow downgrades
  scripts/image-build/build-vyos-image
Labels: current

#957 build: T7409: do not include MD5 checksums in the ISO image
  scripts/image-build/build-vyos-image
Labels: current, bp/circinus
