Repository vyos/vyos-build, pull requests merged in 2025-07, with the labels that each got.

#985 iso: T7610: include a file with ISO9660 string to prevent upgrade failures from 1.3.x
  data/live-build-config/includes.binary/compat
Labels: current, bp/sagitta, bp/circinus

#984 T7606: Split VPP test for smoketest
  Makefile
  scripts/check-qemu-install
Labels: current

#986 T7579: added workflow for CLA
  .github/workflows/cla-check.yml
Labels: current

#989 CI: T7579: fix of the run trigger for CLA
  .github/workflows/cla-check.yml
Labels: current

#992 Docker: T7648: add additional vyos-1x build dependencies
  docker/Dockerfile
  docker/vyos-dev.key
  docker/vyos-dev.list
Labels: current

#962 VPP: T7175: Added sflow plugin to build
  scripts/package-build/vpp/package.toml
Labels: current

#993 T7576: Remove unnecessary code for checking dirty build status
  scripts/image-build/build-vyos-image
Labels: current, bp/sagitta, bp/circinus

#991 T7647: Bump keepalived version to 2.3.3
  scripts/package-build/keepalived/package.toml
Labels: current, bp/circinus

#996 Kernel: T5887: update Linux Kernel to v6.6.100
  data/defaults.toml
Labels: current, bp/sagitta, bp/circinus

#997 T7644: mirror workflow refactoring rollout
  .github/workflows/cleanup-mirror-pr-branch.yml
  .github/workflows/mirror-pr-and-sync.yml
  .github/workflows/pr-mirror-repo-sync.yml
  .github/workflows/trigger-pr-mirror-repo-sync.yml
Labels: current

#998 T7639: Add patches to fix FRR reload for IS-IS segment routing
  scripts/package-build/frr/patches/frr/0004-tools-Add-missing-keyword-segment-routing-srv6-in-fr.patch
  scripts/package-build/frr/patches/frr/0005-tools-Add-missing-keyword-node-msd-in-frr-reload.patch
Labels: current, bp/circinus

#999 tpm: T7628: Extend test for non-TPM backed encryption
  scripts/check-qemu-install
Labels: current, bp/circinus

#1003 tpm: T7628: Fix typo in test expected string
  scripts/check-qemu-install
Labels: current, bp/circinus
