Repository vyos/vyos-build, pull requests merged in 2025-03, with the labels that each got.

#923 Docker: T5400: move build of libvyosconfig to vyos-1x
  docker/Dockerfile
Labels: current

#928 Docker: T5400: do not initialize OPAM environment at all
  docker/Dockerfile
  docker/entrypoint.sh
Labels: current

#929 T7247: removed pr number from private mirror workflow call
  .github/workflows/mirror-pr-and-sync.yml
Labels: current

#933 hooks: T7217: remove Dropbear SSH host keys at image build time
  data/live-build-config/hooks/live/100-remove-dropbear-keys.chroot
Labels: current, bp/sagitta, bp/circinus

#931 T7121: Set up communication vyconfd to vyos-commitd
  data/live-build-config/hooks/live/18-enable-disable_services.chroot
  docker/Dockerfile
Labels: current

#932 T7226: Added FRR patch with option that disables LDP hello
  scripts/package-build/frr/patches/frr/0001-T7226-Option-for-disabled-LDP-hello-message-during-T.patch
Labels: current

#930 T861: minor improvements to secure-boot certificate handling
  .gitignore
  Makefile
  data/certificates/.gitignore
  data/live-build-config/hooks/live/93-sb-sign-kernel.chroot
  data/live-build-config/includes.chroot/var/lib/shim-signed/mok/README.md
  docker/Dockerfile
  scripts/check-qemu-install
  scripts/image-build/build-vyos-image
  scripts/package-build/linux-kernel/build-kernel.sh
Labels: current

#934 T7226: Fixed ldpd crash with tLDP message for disabled LDP hello message
  scripts/package-build/frr/patches/frr/0001-ldpd-Option-for-disabled-LDP-hello-message-during-TC.patch
Labels: current

#935 T7278: Fix python3-cracklib database creation on update
  data/live-build-config/hooks/live/40-init-cracklib-db.chroot
  data/live-build-config/rootfs/excludes
Labels: current

#937 T7291: disabled codeowners review
  CODEOWNERS
Labels: current, backport
