Repository vyos/vyos-build, pull requests merged in 2025-05, with the labels that each got.

#959 systemd: T7356: use short service names to avoid truncation
  data/live-build-config/includes.chroot/etc/systemd/system.conf
Labels: current, bp/sagitta, bp/circinus

#958 Kernel: T7428: remove io_uring support
  data/defaults.toml
  scripts/package-build/linux-kernel/arch/arm64/configs/vyos_defconfig
  scripts/package-build/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current

#960 build: T6949: add missing build trigger for blackbox exporter
  .github/workflows/trigger_rebuild_packages.yml
Labels: current

#965 T1771: enable "reboot-on-upgrade-failure" for new VyOS installations
  tools/cloud-init/AWS/config.boot.default
Labels: current, bp/circinus

#963 T7352: add arg to test script for running smoketests under vyconfd/commitd
  data/live-build-config/hooks/live/18-enable-disable_services.chroot
  scripts/check-qemu-install
Labels: current

#966 T7445: added open prs conflict checker caller workflow
  .github/workflows/check-open-prs-conflict.yml
Labels: current

#967 packages: T7490: add build files for udp-broadcast-relay
  .github/workflows/trigger_rebuild_packages.yml
  scripts/package-build/udp-broadcast-relay/build.py
  scripts/package-build/udp-broadcast-relay/package.toml
  scripts/package-build/udp-broadcast-relay/patches/udp-broadcast-relay/0001-Add-Debian-packaging.patch
Labels: current

#971 Kernel: T7428: re-enable CONFIG_INOTIFY_STACKFS
  scripts/package-build/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current
