Repository vyos/vyos-build, pull requests merged in 2025-02, with the labels that each got.

#895 build: T7109: add support for includes_binary in flavors
  scripts/image-build/build-vyos-image
Labels: current

#897 T7125: add show version vyos-1x for smoketest
  scripts/check-qemu-install
Labels: current

#899 artwork: T7132: new boot splash for rolling release images
  data/live-build-config/includes.binary/isolinux/splash.png
Labels: current

#898 T6989: disable rsyslog service
  data/live-build-config/hooks/live/18-enable-disable_services.chroot
Labels: current

#900 T7066: Increase cpu number for smoketests
  Makefile
Labels: current

#902 T7145: updated codeowners list
  CODEOWNERS
Labels: current, backport, bp/crux, bp/sagitta, bp/circinus, bp/equuleus

#905 T7164: Bump VPP version to stable 2410
  scripts/package-build/vpp/package.toml
Labels: current

#906 intel: T6847: update IXGBE Out-Of-Tree driver to v6.0.5
  scripts/package-build/linux-kernel/.gitignore
  scripts/package-build/linux-kernel/build-intel-ixgbe.sh
  scripts/package-build/linux-kernel/package.toml
Labels: current

#907 docker: T7170: fix sed pattern for change in OPAM install.sh
  docker/Dockerfile
Labels: current

#908 intel: T6847: fix build system to perform proper "git clone" on IXGBE driver
  scripts/package-build/linux-kernel/build-intel-ixgbe.sh
  scripts/package-build/linux-kernel/build.py
  scripts/package-build/linux-kernel/patches/ixgbe/0001-ixgbe-always-enable-support-for-unsupported-SFP-modu.patch
  scripts/package-build/linux-kernel/patches/ixgbe/0002-BACKPORT-linux-v6.9-PATCH-ixgbe-Add-1000BASE-BX-supp.patch
Labels: current

#909 Kernel: T5887: update Linux Kernel to v6.6.77
  data/defaults.toml
Labels: current

#910 T7172: added workflow checks to make current as default in private repo
  .github/workflows/cleanup-mirror-pr-branch.yml
  .github/workflows/mirror-pr-and-sync.yml
  .github/workflows/repo-sync.yml
  .github/workflows/trigger-pr-mirror-repo-sync.yml
Labels: current

#911 T7173: Bump keepalived version to 2.3.2
  scripts/package-build/keepalived/package.toml
  scripts/package-build/keepalived/patches/keepalived/0001-vrrp-Set-sysctl-arp_ignore-to-1-on-IPv6-VMACs.patch
Labels: current

#916 T7178: Add vDPA Virtio Data Path Aceleration kernel module
  scripts/package-build/linux-kernel/arch/arm64/configs/vyos_defconfig
  scripts/package-build/linux-kernel/arch/x86/configs/vyos_defconfig
Labels: current

#913 Intel: T6847: provide common build script for Out-Of-Tree drivers
  scripts/package-build/linux-kernel/.gitignore
  scripts/package-build/linux-kernel/build-intel-ixgbevf.sh
  scripts/package-build/linux-kernel/build-intel-nic.sh
  scripts/package-build/linux-kernel/build.py
  scripts/package-build/linux-kernel/package.toml
Labels: current

#903 T6353: Add cracklib dependencies, fix local Docker build
  docker/Dockerfile
Labels: current

#917 T7184: Fix makefile target test
  Makefile
Labels: current

#920 Kernel: T5887: update Linux Kernel to v6.6.79
  data/defaults.toml
  scripts/package-build/linux-kernel/patches/kernel/0001-linkstate-ip-device-attribute.patch
Labels: current, bp/sagitta, bp/circinus

#921 T7197: Decrease config smoketest to 2 CPUs and 7G RAM
  Makefile
Labels: current
